/* Global Styles - styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables for Theme Management */
:root {
    --primary-color: #0e0c5b;
    --primary-hover: #0b0a48;
    --primary-light: #2b28a7;

    --accent-color: #fdb80a;    
    --accent-hover: #e6a600;         
    --secondary-color: #64748b;

    --dark-color: #0e0c5b;
    --news-background: rgba(2, 14, 42, 0.795);
    --button-hover: #355187;
    --secondary-color: #64748b;
    --success-color: #10b981;
    --background-color: #ffffff;
    --surface-color: #f8fafc;
    --text-primary: #1e293b;
    --text-secondary: #64748b;
    --text-light: rgb(234, 234, 234);
    --border-color: #e2e8f0;
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

body {
font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
    line-height: 1.6;
}

